<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

	<settings>		
		<setting name="defaultExecutorType" value="REUSE" />
	</settings>
    <!-- 自动扫描包内的bo类，简化*Mapper.xml写法 -->
    <typeAliases>
        <package name="com.shop.core.domain" />
    </typeAliases>
</configuration>